 
 <!DOCTYPE html>
{% extends "base.html" %}

{% block title%}
Dodaj punkt
{% endblock %}

{% load widget_tweaks %}
{% load static %}



{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
{{ point_form.media }}
{% endblock %}


{% block content %}


<div id="templatemo_main">        
<h2>{{task.tasks_proc.proc_process_name}} <img src="{% static 'images/next-32px.png' %}"/> {{task.tasks_name}} <img src="{% static 'images/next-32px.png' %}"/> Nowy punkt</h2>

        <div id="contact_form">
        <form  method="POST" action="{% url 'info_flow:if_add_point' task.id %}" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{ point_form.management_form }}
            <div id="form_set">
            {% for form in point_form.forms %}

                <label for='{{form.tasks_name}}'>Tutuł:</label><div > {{form.tasks_name|add_class:"input_field"}}</div>
                <div class="cleaner h10"></div>

                <label for='{{form.tasks_description}}'>Opis:</label><div> {{form.tasks_description}}</div>
                <div class="cleaner h10"></div>

                <label for ='{{form.tasks_start_date}}'>Data pocztku:</label><div> {{form.tasks_start_date|add_class:"input_field"}}</div>
                <div class="cleaner h10"></div>

                <label for ='{{form.tasks_end_date}}'>Data pocztku:</label><div> {{form.tasks_end_date|add_class:"input_field"}}</div>
                <div class="cleaner h10"></div>

                <label for ='{{form.tasks_assigned}}'>Przypisz do:</label><div> {{form.tasks_assigned|add_class:"input_field"}}</div>
                <div class="cleaner h50"></div>
            {% endfor %}
             </div>

     <input type="button" title="Dodaj kolejny punkt do zadania" value="Dodaj punkt" id="add_more" class="submit_btn float_l">
            <div id="empty_form" style="display:none">
                <table class='no_error'>

            <h4>Zadanie "{{task.tasks_name}}" - nowy punkt</h4>

            <label for='{{point_form.tasks_name}}'>Tutuł:</label><div > {{point_form.empty_form.tasks_name|add_class:"input_field"}}</div>
            <div class="cleaner h10"></div>

            <label for='{{point_form.tasks_description}}'>Opis:</label><div> {{point_form.empty_form.tasks_description}}</div>
            <div class="cleaner h10"></div>

            <label for ='{{point_form.tasks_start_date}}'>Data pocztku:</label><div> {{point_form.empty_form.tasks_start_date|add_class:"input_field"}}</div>
            <div class="cleaner h10"></div>

            <label for ='{{point_form.tasks_end_date}}'>Data pocztku:</label><div> {{point_form.empty_form.tasks_end_date|add_class:"input_field"}}</div>
            <div class="cleaner h10"></div>

            <label for ='{{point_form.tasks_assigned}}'>Przypisz do:</label><div> {{point_form.empty_form.tasks_assigned|add_class:"input_field"}}</div>
            <div class="cleaner h50"></div>

                </table>
            </div>


            <input type="submit" title="Zakończ tworzenie procesu" name='save_process' value="Zakończ" class="submit_btn float_r">
            <input type="submit" title="Zapisz i utwórz kolejne zadanie w procesie" name='add_task' value="Kolejne zadanie" class="submit_btn float_r">
                       
        </form>
        </div>  
    </div>  




<script>
    $('#add_more').click(function() {
		var form_idx = $('#id_form-TOTAL_FORMS').val();
		$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
		$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);



    jQuery(function ($) {
    var datepickerDict = {};
    var isBootstrap4 = $.fn.collapse.Constructor.VERSION.split('.').shift() == "4";
    function fixMonthEndDate(e, picker) {
        e.date && picker.val().length && picker.val(e.date.endOf('month').format('YYYY-MM-DD'));
    }
    $("[dp_config]:not([disabled])").each(function (i, element) {
        var $element = $(element), data = {};
        try {
            data = JSON.parse($element.attr('dp_config'));
        }
        catch (x) { }
        if (data.id && data.options) {
            data.$element = $element.datetimepicker(data.options);
            data.datepickerdata = $element.data("DateTimePicker");
            datepickerDict[data.id] = data;
            data.$element.next('.input-group-addon').on('click', function(){
                data.datepickerdata.show();
            });
            if(isBootstrap4){
                data.$element.on("dp.show", function (e) {
                    $('.collapse.in').addClass('show');
                });
            }
        }
    });
    $.each(datepickerDict, function (id, to_picker) {
        if (to_picker.linked_to) {
            var from_picker = datepickerDict[to_picker.linked_to];
            from_picker.datepickerdata.maxDate(to_picker.datepickerdata.date() || false);
            to_picker.datepickerdata.minDate(from_picker.datepickerdata.date() || false);
            from_picker.$element.on("dp.change", function (e) {
                to_picker.datepickerdata.minDate(e.date || false);
            });
            to_picker.$element.on("dp.change", function (e) {
                if (to_picker.picker_type == 'MONTH') fixMonthEndDate(e, to_picker.$element);
                from_picker.datepickerdata.maxDate(e.date || false);
            });
            if (to_picker.picker_type == 'MONTH') {
                to_picker.$element.on("dp.hide", function (e) {
                    fixMonthEndDate(e, to_picker.$element);
                });
                fixMonthEndDate({ date: to_picker.datepickerdata.date() }, to_picker.$element);
            }
        }
    });
    if(isBootstrap4) {
        $('body').on('show.bs.collapse','.bootstrap-datetimepicker-widget .collapse',function(e){
            $(e.target).addClass('in');
        });
        $('body').on('hidden.bs.collapse','.bootstrap-datetimepicker-widget .collapse',function(e){
            $(e.target).removeClass('in');
        });
    }
});
    });


</script>

{% endblock %}