{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title%}
Edycja {{post.posts_title}}
{% endblock %}


{% block head %}
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
<h3>{{post.posts_title}}</h3>
		<div id="contact_form">
		<form  method="POST" action="{% url 'info_flow:if_edit_post' post.id %}" enctype="multipart/form-data" autocomplete="off">
		{% csrf_token %}


			<label for='{{post_form.posts_title}}'>Tutuł:</label><div class=""> {{post_form.posts_title|add_class:"input_field"}}</div>
			<div class="cleaner h10"></div>

			<label for='{{post_form.posts_text}}'>Opis:</label><div> {{post_form.posts_text}}</div>
			<div class="cleaner h20"></div>


			<div> {{ file_form.files_document|add_class:"input_field"}}</div>
			<div class="cleaner h10"></div>	

			{% for f in fi %}
				Usuń plik: <a type="button" href="{% url 'info_flow:if_delete_post_file' f.id%}" >{{f.files_name}}</a><br>
			{% endfor %}

			<input type="submit" name='save_post' value="Zmień" class="submit_btn float_l">

		</form>
		</div>	
{% endblock %}
