{% extends "base.html" %}

{% block title%}
Edytuj {{task.tasks_name}}
{% endblock %}
{% load guardian_tags %}
{% load widget_tweaks %}


{% load static %}

{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
{{ task_form.media }}
{% endblock %}


{% block content %}
<div id="templatemo_main">
      
        <div class="half float_l">
            <h3>Edytuj <a href="{% url 'info_flow:if_show_task' task.id %}"><span class="edit float_r">Cofnij</span></a></h3></h3>
        <div id="contact_form">
        <form  method="POST" action="{% url 'info_flow:if_edit_task' task.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for='{{task_form.tasks_name}}'>Tutuł:</label><div class=""> {{task_form.tasks_name|add_class:"input_field"}}</div>
            <div class="cleaner h10"></div>

            <label for='{{task_form.tasks_description}}'>Opis:</label><div> {{task_form.tasks_description}}</div>
            <div class="cleaner h10"></div>

            <label for ='{{task_form.tasks_start_date}}'>Data pocztku:</label><div> {{task_form.tasks_start_date|add_class:"input_field"}}</div>
            <div class="cleaner h10"></div>

            <label for ='{{task_form.tasks_end_date}}'>Data końca:</label><div> {{task_form.tasks_end_date|add_class:"input_field"}}</div>
            <div class="cleaner h10"></div>

            <label for ='{{task_form.tasks_assigned}}'>Przypisz do:</label><div> {{task_form.tasks_assigned|add_class:"input_field"}}</div>
            <div class="cleaner h10"></div>

            <label for='{{task_form.tasks_is_active}}'>Aktywne:</label><div>{{task_form.tasks_is_active}}</div>
            <div class="cleaner h10"></div>           

            <div> {{ file_form.files_document|add_class:"input_field"}}</div>
            <div class="cleaner h10"></div>
 
            {% for f in fi %}                
            Usuń plik <a type="button" href="{% url 'info_flow:if_delete_task_file' f.id%}" >{{f.files_name}}</a><br>
            {% endfor %}

            <input type="submit" name='save_task' value="Zapisz zmiany" class="submit_btn float_r">
            <input type="submit" name='add_point' value="Dodaj punkt" class="submit_btn float_l">
        </form>
        </div>
        </div>

        <div class="half float_r">
            {% if point|length %}
            

                <h3>Punkty w zadaniu:</h3>
                <ul class="templatemo_list">
                    {% for z in point %}
                        {% get_obj_perms request.user for z as "object_parms" %}
                        {% if "connect_task" in object_parms %}
                            <li><a href="{% url 'info_flow:if_show_task' z.id%}" >{{z.tasks_name}}</a>
                                <a href="{% url 'info_flow:if_edit_task' z.id%}" class="float_r">&nbsp;Edytuj&nbsp;</a>
                                <a href="{% url 'info_flow:if_delete_task' z.id%}" class="float_r" >&nbsp;Usuń&nbsp;</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}


        <div class="cleaner h50"></div>
    {% if user == task.tasks_proc.proc_author  or user == task.tasks_author %}
        <h3>Zarządaj dostępem</h3>
        <div class="cleaner h20"></div>
        <h6>Znajdź i dodaj użytkownika</h6>
        <form method="get">
                <label for="">Imię</label>  {{ user_f.form.user_first_name }}  
                <label for="">Nazwisko</label>  {{ user_f.form.user_last_name }}  
        
        <button type="submit" class="btn btn-outline-secondary btn-sm btn-cst">Szukaj</button>
    </form>
    <table class="table table-sm">
        <tr>
            <th>Konto</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th></th>
        </tr>
        {% for u in user_f.qs %}
            <tr >
            <td>{{u.username}}</td>
            <td>{{u.first_name}}</td>
            <td>{{u.last_name}}</td>
            <td><a href="{% url 'info_flow:if_toggle_object_permission' user=u.id object_id=task.id object_type='task' %}">Dodaj</a></td>
        {% endfor %}
        </tr>
    </table>

    <div class="cleaner h20"></div>
    <h6>Użytkownicy z dostępem do procesu</h6>
    <table class="table table-sm">
        <tr>
            <th>Konto</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th></th>

        </tr>
        {% for u in users_with_perms %}
            <tr >
            <td>{{u.username}}</td>
            <td>{{u.first_name}}</td>
            <td>{{u.last_name}}</td>
            <td><a href="{% url 'info_flow:if_toggle_object_permission' user=u.id object_id=task.id object_type='task' %}">Usuń</a></td>
        {% endfor %}
        </tr>
    </table>
    {% endif %}


</div>
        
        

      
</div>  

<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);


    jQuery(function ($) {
    var datepickerDict = {};
    var isBootstrap4 = $.fn.collapse.Constructor.VERSION.split('.').shift() == "4";
    function fixMonthEndDate(e, picker) {
        e.date && picker.val().length && picker.val(e.date.endOf('month').format('YYYY-MM-DD'));
    }
    $("[dp_config]:not([disabled])").each(function (i, element) {
        var $element = $(element), data = {};
        try {
            data = JSON.parse($element.attr('dp_config'));
        }
        catch (x) { }
        if (data.id && data.options) {
            data.$element = $element.datetimepicker(data.options);
            data.datepickerdata = $element.data("DateTimePicker");
            datepickerDict[data.id] = data;
            data.$element.next('.input-group-addon').on('click', function(){
                data.datepickerdata.show();
            });
            if(isBootstrap4){
                data.$element.on("dp.show", function (e) {
                    $('.collapse.in').addClass('show');
                });
            }
        }
    });
    $.each(datepickerDict, function (id, to_picker) {
        if (to_picker.linked_to) {
            var from_picker = datepickerDict[to_picker.linked_to];
            from_picker.datepickerdata.maxDate(to_picker.datepickerdata.date() || false);
            to_picker.datepickerdata.minDate(from_picker.datepickerdata.date() || false);
            from_picker.$element.on("dp.change", function (e) {
                to_picker.datepickerdata.minDate(e.date || false);
            });
            to_picker.$element.on("dp.change", function (e) {
                if (to_picker.picker_type == 'MONTH') fixMonthEndDate(e, to_picker.$element);
                from_picker.datepickerdata.maxDate(e.date || false);
            });
            if (to_picker.picker_type == 'MONTH') {
                to_picker.$element.on("dp.hide", function (e) {
                    fixMonthEndDate(e, to_picker.$element);
                });
                fixMonthEndDate({ date: to_picker.datepickerdata.date() }, to_picker.$element);
            }
        }
    });
    if(isBootstrap4) {
        $('body').on('show.bs.collapse','.bootstrap-datetimepicker-widget .collapse',function(e){
            $(e.target).addClass('in');
        });
        $('body').on('hidden.bs.collapse','.bootstrap-datetimepicker-widget .collapse',function(e){
            $(e.target).removeClass('in');
        });
    }
});
    });


</script>

{% endblock %}

