{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'info_flow/css/if_css.css' %}">

{% block title%}
Lista procesów 
{% endblock %}
{% load guardian_tags %}

{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />

<script src="{% static 'info_flow/js/if_js.js' %}"></script>
{% endblock %}

{% block content %}
<div id="templatemo_main">

	<div id="content">
		<div class="cleaner h30"></div>
		<h4>Najnowsze procesy</h4>
		 <ul class="recent_post">
			{% for new in newest_proc_list %}
	            <li><a href="{% url 'info_flow:if_show_proc' new.id %}">{{new.proc_process_name}}</a><span class=float_r>Kategoria: {{new.proc_category}} &nbsp;&nbsp;&nbsp;Autor: {{new.proc_author}}</span></li>
	        {% endfor %}
		 </ul>

	  
	</div>
	    <div id="sidebar">
	        <div class="cleaner h30"></div>

	        <h4>Najnowsze wątki na forum</h4>
	            <ul class="recent_post">
	            	{% for new in newest_post_list %}
	                    <li><a href="{% url 'info_flow:if_show_post' new.id %}">{{new.posts_title}}</a></li>
	                {% endfor %}
	            </ul>

	    </div>
	    
<div class="cleaner h20"></div>
<h4>Inforamcje</h4>
<p>Aktualnie strona jest w wersj alfa. Prosze o zgłaszanie wszystkich napotkanych błędów i nieprwidłowości.
Wygld strony jest mocno uproszczony i możliwe że w przyszłości zostanie zaktualizowany.</p>
<div class="cleaner h10"></div>


<div class="cleaner h20"></div>
<h6>Dalsze etapy rozwoju:</h6>
<div class="cleaner h10"></div>
<p>- Zarządzanie uczestnikami Rynku Bilansujacego</p>
<p>- Integracja aktualnych programów ze stron</p>
<p>- Dostęp do bazy z poziomu strony</p>

    
</div> <!-- END of main -->
    


{% endblock %}