{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'info_flow/css/if_css.css' %}">


{% block title%}
Nowy post
{% endblock %}


{% block scripts %}
	{{block.super}}
    <script src="{% static 'info_flow/js/if_js.js' %}"></script>
{% endblock %}


{% block content %}

<form  method="POST" action="{% url 'info_flow:if_new_post' %}" enctype="multipart/form-data">
{% csrf_token %}
{{ post_form.as_p }}
{{ file_form.files_document }}
<br>
<br>
<input type="submit" name='save_post' value="Dodaj">
</form>

{% endblock %}