{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'info_flow/css/if_css.css' %}">

{% block title%}
Lista procesów 
{% endblock %}


{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />

<script src="{% static 'info_flow/js/if_js.js' %}"></script>
{% endblock %}

{% block content %}

{% if state %}
<button type="button" ><a href="{% url 'info_flow:if_processes' cat=cat active='inactive' %}">Pokaż nieaktywne</a></button>
{% else %}
<button type="button" ><a href="{% url 'info_flow:if_processes' cat=cat active='active' %}">Pokaż aktywne</a></button>
{% endif%}

<h3>Procesy w kategorii "{{cat}}"</h3>
<div class="cleaner h10"></div>
<button id="toggle_filter">Zaawansowane filtry</button>
<div class="cleaner h20"></div>
<div id="filter_form">

	<form method="get">
				<label for="author">Autor</label>  {{ proc_f.form.proc_author }}  
				<label for="author">Przypisano</label>  {{ proc_f.form.proc_assigned }}  
				<label for="author">Tytuł</label>  {{ proc_f.form.proc_process_name }}  
				<div class="cleaner h10"></div>
			<div class="adv_filter hidden">
				Data od:  			    
			    <label for="">Rok</label>  {{ proc_f.form.proc_start_date_year }}
			    <label for="">Miesiąc</label>  {{ proc_f.form.proc_start_date_month }}
			    <label for="">Dzień</label>  {{ proc_f.form.proc_start_date_day }}
			    <div class="cleaner"></div>
			    Data do:  
			    <label for="">Rok</label>   {{ proc_f.form.proc_end_date_year }}
				<label for ="">Miesiąc</label>  {{ proc_f.form.proc_end_date_month }}
			    <label for="">Dzień</label>  {{ proc_f.form.proc_end_date_day }}
				<div class="cleaner"></div>
			    <label for="author">Tekst</label>  {{ proc_f.form.proc_description }}
			    <div class="cleaner"></div>
		    </div>
		
	    <button type="submit" class="btn btn-outline-secondary btn-sm btn-cst">Szukaj</button>
	</form>
</div>
<div class="cleaner h10"></div>
<table class="table table-hover table-sm">
	<tr>
		<th>Tytuł</th>
		<th>Przypisane</th>
		<th>Poczatek</th>
		<th>Koniec</th>
		<th>Autor</th>
		<th></th>
		<th></th>
	</tr>
	{% for p in proc_f.qs %}
	<tr class='clickable-row' id=url data-url="{% url 'info_flow:if_show_proc' 123 %}" data-id={{p.id}}>
		<td>{{p.proc_process_name}}</td>
		<td>{{p.proc_assigned|default_if_none:"Brak"}}</td>
		<td>{{p.proc_start_date|date:"Y-m-d H:i"}}</td>
		<td>{{p.proc_end_date|date:"Y-m-d H:i"}}</td>
		<td>{{p.proc_author}}</td>
		<td>
			{% if user.is_authenticated and user == p.proc_author %}
			<a href="{% url 'info_flow:if_edit_proc' p.id%}">Edytuj</a>
			{% endif %}
		</td>
		<td>
			{% if user.is_authenticated and user == p.proc_author %}
			<a href="{% url 'info_flow:if_delete_proc' proc_id=p.id cat=p.proc_category %}"  >Usuń</a>
			{% endif %}
		</td>

	{% endfor %}
	</tr>

</table>

{% endblock %}