{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'info_flow/css/if_css.css' %}">

{% block title%}
Lista procesów 
{% endblock %}


{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />


{{ new_pattern.media }}
{% endblock %}

{% block content %}

<div id="templatemo_main">
	<h4>Szablony procesów</h4>
	{% if patts|length > 0 %}
	{% for pat in patts %}
	    Nazwa: {{pat.pat_name}} Autor: {{pat.pat_author}}  Kategoria: {{pat.pat_category}} 
	    <button class="hide_button" id='{{pat.id}}'>Dodaj</button>
	    <a href='{% url "info_flow:if_show_pattern" pat.id %}' type="submit">Przejdź</a>
		<div class='hidden' id='div{{pat.id}}'>
		        <div id="contact_form">
		        <form  method="POST" action="{% url 'info_flow:if_patterns_list'  %}" enctype="multipart/form-data">
		            {% csrf_token %}
		            <input type="hidden" name="pattern_id" value='{{pat.id}}'>
					{{new_pattern.start_date|add_class:"input_field"}}
					{{new_pattern.end_date|add_class:"input_field"}}
		            <input type="submit" name='osdn_template_form' value="Utwórz" class="submit_btn float_l">
		        </form>
		        </div>  
	 	</div> 
	 	<div class="cleaner h20"></div>
	 	{% endfor %}
	{% else %}
		<p style="text-align: center;">Brak dostępnych szablonów</p>
	{% endif %}


</div>
{% endblock %}
