{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'info_flow/css/if_css.css' %}">

{% block title%}
Lista procesów
{% endblock %}


{% block scripts %}
	{{block.super}}
    <script src="{% static 'info_flow/js/if_js.js' %}"></script>
{% endblock %}


{% block content %}

<form method="get">
    {{ proc_f.form.as_table }}
    <button type="submit" class="btn btn-outline-secondary btn-sm btn-cst">Search</button>
</form>

<h1>Procesy</h1>

<table class="table table-hover table-dark table-sm">
	<tr>
		<th>Tytuł</th>
		<th>Kategoria</th>
		<th>Poczatek</th>
		<th>Koniec</th>
		<th>Autor</th>
		<th></th>
		<th></th>
	</tr>
	{% for p in proc_f.qs %}
	<tr class='clickable-row' id=url data-url="{% url 'info_flow:if_show_proc' 123 %}" data-id={{p.id}}>
		<td>{{p.proc_process_name}}</td>
		<td>{{p.proc_category}}</td>
		<td>{{p.proc_start_date}}</td>
		<td>{{p.proc_end_date}}</td>
		<td>{{p.proc_author}}</td>
		<td>
			{% if user.is_authenticated and user == p.proc_author %}
			<a type="button" href="{% url 'info_flow:if_edit_proc' p.id%}" class="btn btn-outline-secondary btn-sm btn-cst" >Edytuj</a>
			{% endif %}
		</td>
		<td>
			{% if user.is_authenticated and user == p.proc_author %}
			<a type="button" href="{% url 'info_flow:if_delete_proc' p.id%}" class="btn btn-outline-secondary btn-sm btn-cst" >Usuń</a>
			{% endif %}
		</td>
	{% endfor %}
	</tr>

</table>

{% endblock %}