{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'info_flow/css/if_css.css' %}">


{% block title%}
Lista postów
{% endblock %}

{% block content %}
<h5><button type= button class="btn btn-cst float_r"><a href="{% url 'info_flow:if_new_post' %}">Dodaj nowy wpis</a></button></h5>
<form method="get">
    {{ posts_f.form.as_table }}
    <button type="submit" class="btn btn-outline-secondary btn-sm btn-cst">Szukaj</button>
</form>
<div class="cleaner h20"></div>
		{% for p in posts_f.qs %}
			<div class="post">
                <h3><a href="{% url 'info_flow:if_show_post' p.id %}">{{p.posts_title}}</a></h3>
                <div class="meta">
                	<span class="admin">{{p.posts_author}}</span><span class="date">{{p.posts_created|date:"Y-m-d H:i"}}</span><span class="comment">{{p.messages_set.all|length}}</span>
                	<div class="cleaner"></div>
                </div>
              <p>{{ p.posts_text|slice:":255" }}</p>
                <a href="{% url 'info_flow:if_show_post' p.id %}" class="more float_r">Czytaj dalej</a>
<!--                 <div class="cleaner"></div> -->
            </div>
	{% endfor %}

{% endblock %}