{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'info_flow/css/if_css.css' %}">

{% block title%}
Lista procesów 
{% endblock %}


{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />


{{ new_pattern.media }}
{% endblock %}

{% block content %}

<div id="templatemo_main">
	<h4 class="float_r">Szablony procesów</h4>
	<div class="cleaner h20"></div>
		<form method="get">
				<label for="name">Nazwa</label>  {{ patterns_filter.form.pat_name }}
				<label for="author">Autor</label>  {{ patterns_filter.form.pat_author }}
				<label for="category">Kategoria</label>  {{ patterns_filter.form.pat_category }}  
	    <button type="submit" class="btn btn-outline-secondary btn-sm btn-cst">Szukaj</button>
	</form>
	<div class="cleaner h20"></div>

	{% if patterns_filter.qs|length > 0 %}
	{% for pat in patterns_filter.qs %}
		{% url "info_flow:if_show_pattern" pat.id as the_url %}
	    <h6><b>{{pat.pat_name}}</b></h6> 
	    <input type="button" class="hide_button" id='{{pat.id}}' value="Utwórz"/>
      	<input type="button" onclick="window.location.href='{{ the_url }}';" value="Przejdź" />
      	{% if user.is_authenticated and user == pat.pat_author %}
	    	<input type="button" class="edit_button" id='{{pat.id}}' value="Edytuj">
	    {% endif %}
	    By <b>{{pat.pat_author}}</b>, kat:  <b>{{pat.pat_category}}</b>

		<div class='hidden' id='div{{pat.id}}'>
		        <div id="contact_form">
		        <form  method="POST" action="{% url 'info_flow:if_patterns_list'  %}" enctype="multipart/form-data">
		            {% csrf_token %}
		            <input type="hidden" name="pattern_id" value='{{pat.id}}'>
					{{new_pattern.start_date|add_class:"input_field"}}
					{{new_pattern.end_date|add_class:"input_field"}}
		            <input type="submit" name='osdn_template_form' value="Utwórz" class="submit_btn float_l">
		        </form>
		        </div>  
	 	</div> 

	 	<div class='hidden' id='edit{{pat.id}}'>
		        <div id="contact_form">
					<form  method="POST" action="{% url 'info_flow:if_edit_pattern_name' pat.id %}" enctype="multipart/form-data" autocomplete="off">
					{% csrf_token %}
						<label for='{{pattern_form.pat_name}}'>Nazwa:</label><div class=""> {{pattern_form.pat_name|add_class:"input_field"}}</div>
						<div class="cleaner h10"></div>

						<label for='{{pattern_form.pat_is_private}}'>Prywatny:</label><div class=""> {{pattern_form.pat_is_private|add_class:"input_field"}}</div>
						<div class="cleaner h10"></div>

						<label for='{{pattern_form.pat_category}}'>Kategoria:</label><div class=""> {{pattern_form.pat_category|add_class:"input_field"}}</div>
						<div class="cleaner h10"></div>

						<input type="submit" name='save_post' value="Zapisz szablon" class="submit_btn float_l">
					</form>
		        </div>  
	 	</div> 
	 	<div class="cleaner"></div>
	 	<hr style="background-color:white">
	 	{% endfor %}
	{% else %}
		<p style="text-align: center;">Brak dostępnych szablonów</p>
	{% endif %}


</div>
{% endblock %}
