{% extends "base.html" %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'info_flow/css/if_css.css' %}">

{% block scripts %}
	{{block.super}}
    <script src="{% static 'info_flow/js/if_js.js' %}"></script>
{% endblock %}


{% block title%}
{{post.posts_title}}
{% endblock %}


{% block content %}

<h2>{{post.posts_title}}</h2>
<p>{{post.posts_text}}</p>

{% for m in mess %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-sm-1">
                       <img src="" class="img-circle img-responsive" alt="" /></div>
                    <div class="col-xs-10 col-sm-11">
                        <div>
                            <div class="mic-info">
                            Przez: {{m.mess_author}}   dodano: {{m.mess_created}}
                            </div>
                        </div>
                        <div class="comment-text", style="padding: 20px">

                             {{m.mess_text}}
                        </div>
                        <div class="action">
                        	<a href="{% url 'info_flow:if_del_mess' m.id %}" type="button" class="btn btn-danger btn-sm" >Usuń</a>
                        </div>
                    </div>
                </div>
            </li>
{% endfor %}


<div class="container">
	<div class="row">

	</div>
    
    <div class="row justify-content-md-center">
    
    <div class="col-md-6">
    						<div class="widget-area no-padding blank" style="padding: 20px">
								<div class="status-upload">
									<form  method="POST" action="" id="addMess" data-postid="{{post.id}}">
									{% csrf_token %}
										<ul>
										{{ mess_form.mess_text }}
										</ul>
									<button type="submit" class="btn btn-success green justify-content-md-center" ><i class="fa fa-share"></i>Dodaj</button>
									</form>
								</div><!-- Status Upload  -->
							</div><!-- Widget Area -->
						</div>
        
    </div>
</div>

{% endblock %}