{% extends "base.html" %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'info_flow/css/if_css.css' %}">

{% block scripts %}
	{{block.super}}
    <script src="{% static 'info_flow/js/if_js.js' %}"></script>
{% endblock %}


{% block content %}

<h1>{{post.posts_title}}</h1>
<h1>{{post.id}}</h1>

{% for m in mess %}
    
	{{m.com_body}}

{% endfor %}


<form  method="POST" action="" id="addMess" data-postid="{{post.id}}">
{% csrf_token %}
{{ mess_form.as_table }}

<input type="submit" name='save_post' value="Dodaj testssss">

{% endblock %}