{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title%}
{{proc.proc_process_name}}
{% endblock %}

{% block head %}
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
<div id="templatemo_main">
    	
	<div id="content">
	<div class="proc">

	<div class="edit"><h4>{{proc.proc_process_name}}
		{% if user.is_authenticated%}
			{% if user == proc.proc_author or user == proc.proc_assigned %}
				<a href="{% url 'info_flow:if_edit_proc' proc.id %}"><span class="edit">Edytuj</span></a>
			{% endif %}
		{% endif %}
	</h4>
	</div>

	<div class="meta float_r">
		<span class="admin">{{proc.proc_author}}</span><span class="date">{{proc.proc_created|date:"Y-m-d H:i"}}</span><span class="tag"><a href="{% url 'info_flow:if_processes' cat=proc.proc_category active='active' %}">{{proc.proc_category}}</span></a>
		<div class="cleaner"></div>
	</div>
	<div class="cleaner"></div>
	<h6>{{proc.proc_description}}</h6>
	<div class="cleaner h20"></div>
	<div class="meta">
				<img src="{% static 'images/timetable.png' %}" alt="timetable" />
					{% if proc.proc_start_date %}
						{{proc.proc_start_date|date:"Y-m-d H:i"}} - 
					{% else %}
								Brak - 
					{% endif %}

					{% if proc.proc_end_date %}
						{{proc.proc_end_date|date:"Y-m-d H:i"}}
					{% else %}
						Brak
					{% endif %}
		<img src="{% static 'images/assign.png' %}" alt="assign" />{{proc.proc_assigned|default_if_none:"  Brak"}}
		<div class="cleaner h20"></div>
		<div class="cleaner"></div>
	</div>

	{% if task|length > 0 %}
		Postęp procesu {{tasks_data.tasks_number_inactive}}/{{tasks_data.tasks_number}}
		<progress value={{tasks_data.tasks_number_inactive}} max={{tasks_data.tasks_number}} style="background-color:grey;" ></progress>
		<div class="cleaner h20"></div>
	{% else %}
		<p>Brak przypiętych zadań</p>
	{% endif %}

	{% if fi %}
	<div class="float_r">
	<h5>Załaczniki</h5>
	{% for f in fi %}
		<a type= "button" href="{% url 'info_flow:download_file' f.id %}" download>{{f.files_name}}</a> by {{f.files_by_user}}<br>
	{% empty %}
    {% endfor %}
    {% endif %}
	<div class="cleaner h20"></div>
	</div>

	<div class="cleaner"></div>
		<h5>Zadania</h5>
		<div class="cleaner h10"></div>
			<ul class="templatemo_list">
				{% for t in task %}
					
						<div class="meta">
						<li>
						{%if t.tasks_is_active%}
						<img src="{% static 'images/active.png' %}" alt="inactive" />
						{%else%}
						<img src="{% static 'images/inactive.png' %}" alt="active" />
						{% endif %}
						<a href="{% url 'info_flow:if_show_task' t.id %}">{{t.tasks_name}}&nbsp;({{t.points_count}})</a>
						<div class="float_r">
						<img src="{% static 'images/assign.png' %}" alt="assign" />
							{% for us in t.tasks_assigned.all %}
								{{us}}
							{% empty %}
								Nieprzypisane
							{% endfor %} 

						</div>
						<div class="cleaner h20"></div>
						</li>
						</div>
					
				{% endfor %}
			</ul>

</div>
</div>

<div id="sidebar">
      	<div id="comment_section_proc">
                <ol class="comments first_level">
                        
                        <li>	
                        	{% for z in coms %}
                                <div class="comment_text">
                                    <div class="comment_author">{{z.com_author}}<span class="date">{{z.com_created|date:"Y-m-d H:i"}}</span></div>
                                    <p>{{z.com_body}}</p>
                                </div>
                                <div class="cleaner"></div>
                                {% if user.is_authenticated and user == z.com_author %}
                                      <div class="comment_text"><div class="reply"><a class="del" href="{% url 'info_flow:if_delete_com' object_type='proc' e_id=proc.id com_id=z.id  %}" type="button">Usuń</a></div></div>
                                {% endif %}
                                <div class="cleaner h20"></div>
                            {% endfor %}
                        </li>
                        
                </ol>
                <div class="cleaner h20"></div>    
                    
        </div>
                <div id="comment_form">
                    <h5>Skomentuj</h5>                    
                    <form  method="POST" action="{% url 'info_flow:if_show_proc' proc.id %}">
						{% csrf_token %}
						{{com_form.as_p }}
						<input type="submit" value="Dodaj" class="submit_btn">
                    </form>    
                   </div>    
</div>     <!-- end of sidebar -->



</div>

{% endblock %}