{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title%}
{{task.tasks_name}}
{% endblock %}


{% block head %}
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<div id="templatemo_main">

	<div class="proc">
		<div class="edit"><h4><a href="{% url 'info_flow:if_show_proc' task.tasks_proc_id %}" >{{task.tasks_proc.proc_process_name}}</a> > {{task.tasks_name}}
			{% if user.is_authenticated and user == task.tasks_proc.proc_author %}
			<a href="{% url 'info_flow:if_edit_task' task.id %}"><span class="edit">Edytuj</span></a>
			{% endif %}</h4>
		</div>
			<div class="float_r">
				{% if user.is_authenticated %}
					{% if user in task.tasks_assigned.all %}
						<a href="{% url 'info_flow:assign_task' object_type='task' task_id=task.id %}" >Odrzuć zadanie</a><br>
					{% else %}
						{% if not task.tasks_assigned.all|length %}
							<a href="{% url 'info_flow:assign_task' object_type='task' task_id=task.id %}" >Przyjmnij zadanie</a><br>
						{% endif %}	
					{% endif %}
				{% endif %}

				<div class="cleaner h10"></div>
				{% if user in task.tasks_assigned.all %}
					<a type= "button" href="{% url 'info_flow:accept_task' task_id=task.id  %}">
					{% if task.tasks_is_active %}Zamknij zadanie{% else %}Otwórz zadanie{% endif %}</a>
				{% endif %}	
			</div>
	<div class="meta float_l">
		<span class="admin">{{task.tasks_proc.proc_author}}</span><span class="date">{{task.tasks_created|date:"Y-m-d H:i"}}</span>
		<span class="comment">{{coms|length }}</a></span>
		<div class="cleaner"></div>
	</div>
	<div class="cleaner"></div>
	<h6>{{task.tasks_description}}</h6>
	<div class="cleaner h40"></div>
	<div class="meta">
				<img src="{% static 'images/timetable.png' %}" alt="timetable" />
					{% if task.tasks_start_date %}
						{{task.tasks_start_date|date:"Y-m-d H:i"}}  -  
					{% else %}
								Brak - 
					{% endif %}

					{% if task.tasks_end_date %}
						{{task.tasks_end_date|date:"Y-m-d H:i"}}
					{% else %}
						Brak
					{% endif %}
		<div class="cleaner h10"></div>
		<img src="{% static 'images/assign.png' %}" alt="assign" />

		{% for us in task.tasks_assigned.all %}
			{{us}}
		{% empty %}
			Nieprzypisane
		{% endfor %} 

		<div class="cleaner h20"></div>
	</div>

	{% if point|length > 0 %}
		Postęp punktów {{points_data.points_number_inactive}}/{{points_data.points_number}}
		<progress value={{points_data.points_number_inactive}} max={{points_data.points_number}} style="background-color:grey;"></progress>
		<div class="cleaner h20"></div>
	{% else %}
		<p style="text-align: center;">Brak przypiętych punktów</p>
	{% endif %}

	{% if fi %}
	<div class="float_r">
	<h5>Załaczniki</h5>
		{% for f in fi %}
			<a type= "button" href="{% url 'info_flow:download_file' f.id %}" download>{{f.files_name}}</a> by {{f.files_by_user}}<br>
		{% empty %}
	    {% endfor %}
    {% endif %}
    <div class="cleaner h10"></div>

    {% if user.is_authenticated %}
    	{% if user == task.tasks_proc.proc_author or user in task.tasks_assigned.all %}
        <form  method="POST" action="{% url 'info_flow:if_show_task' task.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{file_form.files_document}}
            <div class="cleaner"></div>
            <input type="submit" title="Dodaj plik" name='add_file' value="Dodaj plik">
        </form>
        {% endif %}
	{% endif %}	


    </div>
	<div class="cleaner h20"></div>
		<div class="comments">			
				<li>
					{% for p in point %}
                   <div class="comment_box commentbox1">
                                    
 
                                <div class="comment_text">
                                    <div class="comment_author">{{p.tasks_name}}<span class="date">{{p.tasks_created|date:"Y-m-d H:i"}}</span>
                                    

									<div class="reply">
										{% if user.is_authenticated %}
											{% if user in p.tasks_assigned.all %}
												<a href="{% url 'info_flow:assign_task' object_type='task' task_id=p.id %}" >Odrzuć</a><br>
											{% else %}
												<a href="{% url 'info_flow:assign_task' object_type='task' task_id=p.id %}" >Przyjmnij</a><br>
											{% endif %}
										{% endif %}	
									</div>
									</div>

								<p>{{p.tasks_description}}</p>
                                </div>
                                <div class="cleaner h20"></div>
                                <div class="meta">
								<img src="{% static 'images/timetable.png' %}" alt="timetable" />
									{% if p.tasks_start_date %}
										{{p.tasks_start_date|date:"Y-m-d H:i"}} - 
									{% else %}
									     Brak - 
									{% endif %}

									{% if p.tasks_end_date %}
										{{p.tasks_end_date|date:"Y-m-d H:i"}}
									{% else %}
									     Brak
									{% endif %}

								<div class="cleaner h10"></div>
								<img src="{% static 'images/assign.png' %}" alt="assign" /> 
									{% for us in p.tasks_assigned.all %}
										{{us}}
									{% empty %}
										Nieprzypisane
									{% endfor %}

								</div>
								<div class="cleaner h20"></div>
								<a href="{% url 'info_flow:if_show_point' tid=p.id %}" class="more float_l">Przejdź</a>
								<div class="float_r">
								{%if p.tasks_is_active%}
								&nbsp;&nbsp;<img src="{% static 'images/active.png' %}" alt="active" />&nbsp;&nbsp;Otwarty</a>
								{%else%}
								&nbsp;&nbsp;<img src="{% static 'images/inactive.png' %}" alt="inactive" />&nbsp;&nbsp;Zamknięty</a>
								{% endif %}
								</div>
                                <div class="cleaner"></div>
                    </div>
                    {% endfor %}
                </li>
				</div>

				<div id="comment_section point_com">
							{% for z in coms %}
                                <div class="comment_text">
	                                <div class="comment_text">
	                                    <div class="comment_author">{{z.com_author}}<span class="date">{{z.com_created|date:"Y-m-d H:i"}}</span></div>
	                                    <p>{{z.com_body}}</p>
	                                </div>
                                    {% if user.is_authenticated and user == z.com_author %}
                                      <div class="reply"><a href="{% url 'info_flow:if_delete_com' object_type='point' e_id=task.id com_id=z.id  %}" type="button">Usuń</a></div>
                                	{% endif %}

                                </div>
                                <div class="cleaner"></div>
                            {% endfor %}
                <div class="cleaner h20"></div>    
                </div>
                
                <div class="cleaner h20"></div>
                
                <div id="comment_form">
                    <h3>Dodaj komentarz do zadania</h3>                    
                    <form  method="POST" action="{% url 'info_flow:if_show_task' task.id %}">
						{% csrf_token %}
						{{com_form.as_p }}
						<input type="submit" value="Dodaj" class="submit_btn">
                    </form>    
                
            	</div>
            <div class="cleaner"></div>
    </div>



</div>
</div>


{% endblock %}