{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title%}
{{task.tasks_name}}
{% endblock %}


{% block head %}
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<div id="templatemo_main">

	<div class="proc">
		<div class="edit"><h4><a href="{% url 'info_flow:if_show_proc' task.tasks_proc_id %}" >{{task.tasks_proc.proc_process_name}}</a> > 
			<a href="{% url 'info_flow:if_show_task' task.tasks_tasks_id %}" >{{task.tasks_tasks.tasks_name}}</a> > {{task.tasks_name}}		
			{% if user.is_authenticated and user == task.tasks_proc.proc_author %}
			<a href="{% url 'info_flow:if_edit_task' task.id %}"><span class="edit">Edytuj</span></a>
			{% endif %}</h4>
		</div>



			<div class="float_r">
				{% if user.is_authenticated %}
				{% if task.tasks_tasks.tasks_assigned.all|length %}
					{% if user in task.tasks_assigned.all %}
						{% if task.tasks_is_active %}
							<a href="{% url 'info_flow:assign_task' object_type='point' task_id=task.id %}" >Odrzuć punkt</a><br>
						{% endif %}
					{% else %}
						{% if task.tasks_is_active %}
							<a href="{% url 'info_flow:assign_task' object_type='point' task_id=task.id %}" >Przyjmnij punkt</a><br>
						{% endif %}
					{% endif %}
				{% endif %}
				{% endif %}

				<div class="cleaner h10"></div>
				{% if user in task.tasks_assigned.all %}
				<a type= "button" href="{% url 'info_flow:accept_task' task.id %}">{% if task.tasks_is_active %}Zamknij punkt{% else %}Otwórz punkt{% endif %}</a>
				{% endif %}			
			</div>
	<div class="meta float_l">
		<span class="admin">{{task.tasks_proc.proc_author}}</span><span class="date">{{task.tasks_created|date:"Y-m-d H:i"}}</span>
		<span class="comment">{{coms|length }}</a></span>
		<div class="cleaner"></div>
	</div>
	<div class="cleaner"></div>
	<h6>{{task.tasks_description}}</h6>
	<div class="cleaner h40"></div>
	<div class="meta">
				<img src="{% static 'images/timetable.png' %}" alt="timetable" />
					{% if task.tasks_start_date %}
						{{task.tasks_start_date|date:"Y-m-d H:i"}}  -  
					{% else %}
								Brak - 
					{% endif %}

					{% if task.tasks_end_date %}
						{{task.tasks_end_date|date:"Y-m-d H:i"}}
					{% else %}
						Brak
					{% endif %}
		<div class="cleaner h10"></div>
		<img src="{% static 'images/assign.png' %}" alt="assign" />

		{% for us in task.tasks_assigned.all %}
			{{us}}
		{% empty %}
			Nieprzypisane
		{% endfor %} 

		<div class="cleaner h20"></div>
	</div>

	{% if fi %}
	<div class="float_r">
	<h5>Załaczniki</h5>
		{% for f in fi %}
			<a type= "button" href="{% url 'info_flow:download_file' f.id %}" download>{{f.files_name}}</a><br>
		{% empty %}
	    {% endfor %}
    {% endif %}
    </div>
	<div class="cleaner h20"></div>
		<div id="comment_section point_com">

							{% for z in coms %}
                                <div class="comment_text">
	                                <div class="comment_text">
	                                    <div class="comment_author">{{z.com_author}}<span class="date">{{z.com_created|date:"Y-m-d H:i"}}</span></div>
	                                    <p>{{z.com_body}}</p>
	                                </div>
                                    {% if user.is_authenticated and user == z.com_author %}
                                      <div class="reply"><a href="{% url 'info_flow:if_delete_com' object_type='point' e_id=task.id com_id=z.id  %}" type="button">Usuń</a></div>
                                	{% endif %}

                                </div>
                                <div class="cleaner"></div>
                            {% endfor %}
                  

                <div class="cleaner h20"></div>    

                    
                </div>
                
                <div class="cleaner h20"></div>
                
                <div id="comment_form">
                    <h3>Dodaj komentarz do punktu</h3>                    
                    <form  method="POST" action="{% url 'info_flow:if_show_task' task.id %}">
						{% csrf_token %}
						{{com_form.as_p }}
						<input type="submit" value="Dodaj" class="submit_btn">
                    </form>    
                
            	</div>
            <div class="cleaner"></div>
    </div>

</div>
</div>


{% endblock %}