{% extends "base.html" %}


{% block content %}

{%for p in priv_proc%}
PRYWATNY
 {{ p.proc_process_name}}
{% endfor %}

{%for p in user_proc%}
 PROCES
 {{ p.proc_process_name}}
{% endfor %}


{% for t in user_tasks %}
	{% if t.tasks_tasks_id is None %}
		ZADANIE
		{{t.tasks_name}}
		{{t.tasks_is_active}}
		<a type="button" href="{% url 'info_flow:if_show_task' t.id%}" class="btn btn-outline-secondary btn-sm btn-cst" >Przejdź</a><br>

	{%else%}
		PUNKT
		{{t.tasks_name}}
		{{t.tasks_is_active}}
		<a type="button" href="{% url 'info_flow:if_show_task' t.id%}" class="btn btn-outline-secondary btn-sm btn-cst" >Przejdź</a><br>

	{% endif%}
	



{% endfor%}


{% endblock %}