{% extends "base.html" %}

{% block content %}


{% if page_obj.0.element_type %}
<button type="button" ><a href="{% url 'BalancingMarket:element_list_POB' %}">Przejdź do listy POB</a></button>
{% else%} 
<button type="button"><a href="{% url 'BalancingMarket:element_list_SE' %}">Przejdź do listy SE</a></button>
{%endif%}

<button type="button" class="float_r"><a href="{% url 'BalancingMarket:element_form' %}">Nowy użytkownik RB</a></button>
<div class="cleaner h20"></div>
<button type="button" id="toggle_filter">Filtry</button>
    <div class="adv_filter" style="padding:20px;">
        <form method="get">
                <label for="code">Kod:  </label> {{ filter.form.code }}
                <label for="name">Nazwa:  </label> {{ filter.form.name }}
                <label for="is_added">Status: </label> {{ filter.form.is_added }}
            <input type="submit" value="Szukaj" />
        </form>
    </div>
<table class="table table-hover table-sm"  style="width:100%">
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Kod</th>
        <th>Data od</th>
        <th>Data do</th>
        <th>Id FBT</th>
        <th>Status konf</th>
        <th></th>
    </tr>
{% for Element in page_obj %}

    <tr class='clickable-row' style="padding-top:20px;" id=url data-url="{% url 'BalancingMarket:element_detail' 123 %}" data-id={{Element.id}}>
        <td>{{Element.id}}</td>
        <td>{{Element.name}}</td>
        <td>{{Element.code}}</td>
        <td>{{Element.dt_from|date:"Y-m-d"}}</td>
        <td>{{Element.dt_to|date:"Y-m-d"}}</td>
        <td>{{Element.cspr_id}}</td>
        {% if Element.is_added == 0 %}
        <td>Nieuzupełniona</td>
        {% else %}
        <td>Uzupełniona</td>
        {% endif %}
        <td><a href="{% url 'BalancingMarket:element_confirm_delete' Element.id %}">Usuń</a></td>
        {% endfor %}
    </tr>

</table>



<div class="pagination">
    <br>
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Pierwsza</a>
        <a href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Następna</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Ostatna &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}