{% extends "base.html" %}

{% block content %}
{% load widget_tweaks %}

<button type="button" class="float_r"><a href="{% url 'BalancingMarket:powerplant_form_update' object.id %}">Edytuj</a></button>
<button type="button" class=><a href="{% url 'BalancingMarket:powerplantconnection_form' %}">Nowe połączenie</a></button>

<p>Nazwa: {{ object.name }}</p>
<p>PPE: {{ object.PPE }}</p>
<p>ID MDM: {{ object.cspr_id }}</p>
<p>Utworzono: {{ object.created }}</p>
<p>Autor: {{ object.author }}</p>
<p>Zmodyfikowano: {{ object.modified }}</p>
<p>Zmodyfikowane przez: {{ object.modified_by }}</p>
{% if object.element_type == EC %}
<p>Typ: Elektrociepłownia</p>
{% elif object.element_type == FW %}
<p>Typ: Farma Wiatrowa</p>
{% elif object.element_type == EW %}
<p>Typ: Elektrownia Wodna</p>
{% elif object.element_type == PV %}
<p>Typ: Fotowoltaika</p>
{% elif object.element_type == BIO %}
<p>Typ: Biogazownia</p>
{% endif %}

{% if object.is_added == 0 %}
<p>Stan konfiguracaji: Nieuzupełniona</p>
{% else %}
<p>Stan konfiguracaji: Uzupełniona</p>
{% endif %}

<p>Pliki:</p>
{% for f in added_files%}
<p><a type="button" href="{% url 'BalancingMarket:BM_download_file' f.id %}" download>{{f.name}}</a></p>
{% endfor %}


<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div> Załącz plik
            {{ form.document|add_class:"input_field"}}
        </div>
        <input type="submit" value="Dodaj plik" multiple />
    </form>

</div>


<table class="table table-hover table-sm" style="width:100%; border: 1px solid silver">
    <tr>
        <th>ID</th>
        <th>POB</th>
        <th>Data od</th>
        <th>Data do</th>
        <th></th>
        <th></th>
    </tr>
    {% for PP in pp_connections %}

    <tr class='clickable-row' id=url data-url="{% url 'BalancingMarket:powerplantconnection_form_update' 123 %}" data-id={{PP.id}}>
        <td>{{PP.id}}</td>
        <td>{{PP.POB}}</td>
        <td>{{PP.dt_from|date:"Y-m-d"}}</td>
        <td>{{PP.dt_to|date:"Y-m-d"}}</td>
        <td><a href="{% url 'BalancingMarket:powerplantconnection_confirm_delete' PP.id %}">Usuń</a></td>
        {% endfor %}
    </tr>

</table>



{% endblock %}