altgraph==0.17
asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
beautifulsoup4==4.9.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
cx-Oracle==8.0.0
defusedxml==0.7.1
Django==3.0.8
django-allauth==0.44.0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap3==14.1.0
django-bootstrap3-datetimepicker==2.2.3
django-bootstrap4==2.2.0
django-cors-headers==3.6.0
django-datetime-widget==0.9.3
django-datetimepicker==3.14
django-filter==2.4.0
django-form-utils==1.0.3
django-guardian==2.3.0
django-rest-auth==0.9.5
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
et-xmlfile==1.0.1
future==0.18.2
get==0.0.0
idna==2.10
isort==5.7.0
jdcal==1.4.1
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
numpy==1.19.0
oauthlib==3.1.0
openpyxl==3.0.4
pandas==1.0.5
path==14.0.1
pefile==2019.4.18
post==0.0.0
pycodestyle==2.6.0
pycparser==2.20
PyInstaller==3.6
PyJWT==2.1.0
pylint==2.6.0
pylint-django==2.4.2
pylint-plugin-utils==0.6
python-dateutil==2.8.1
python-decouple==3.5
python3-openid==3.2.0
pytz==2020.1
pywin32-ctypes==0.2.0
query-string==0.0.0
request==0.0.0
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.2
urllib3==1.25.9
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.9
