<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title%}{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 347 dark pro -->
<!-- 
Dark Pro Template 
http://www.templatemo.com/preview/templatemo_347_dark_pro 
-->
{% load static %}
 
<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>


<link rel="stylesheet" type="text/css" href="{% static 'css/ddsmoothmenu.css' %}" />

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ddsmoothmenu.js' %}">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
</script>

<script type="text/javascript">

ddsmoothmenu.init({
  mainmenuid: "templatemo_menu", //menu DIV id
  orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
  classname: 'ddsmoothmenu', //class added to menu's outer DIV
  //customtheme: ["#1c5a80", "#18374a"],
  contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
</script>


<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}" />


<script language="javascript" type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'js/jquery.easing.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'js/script.js' %}"></script>

{% block head %}
{% endblock %}

</head>

<body>

<div id="templatemo_wrapper">
  
    <div id="templatmeo_header">
      <div id="site_title"><h1><a href="{% url 'info_flow:if_index' %}">TomSoFt</a></h1></div>

        <div class="float_r">
           {% if user.is_authenticated %}
              Zalogowano jako
             
              <button type="button" class="submit_btn"><a href="{% url 'info_flow:user_profile' 'active' %}"> {{ user.get_username }} </a></button>
              <button type="button" class="submit_btn"><a href="{% url 'logout' %}?next={{request.path}}"> Wyloguj </a></button>
             {% else %}
              <button type="button" class="submit_btn"><a href="{% url 'login'%}?next={{request.path}}"> Zaloguj </a></button>
             {% endif %} 
             
        </div>
        <div class="cleaner"></div>
    </div> <!-- END of header -->
    
    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="{% url 'info_flow:if_index' %}" class="selected">Start<span>Zacznij tutaj</span></a></li>
            <li><a href="{% url 'info_flow:if_process_list' %}" class="selected">Praca<span>Zadania do wykonania</span></a></li>
            <li><a href="#">Uczestnicy RB<span>Aktualna konfiguracja</span></a>
                <ul>
                    <li><a href="#submenu1">Zestawienie MDD</a></li>
                    <li><a href="#submenu2">Zestawieniw Wytw</a></li>
                </ul>
            </li>
            <li><a href="#">Programy<span>Skrypty do użycia</span></a>
                <ul>
                    <li><a href="{% url 'DBscripts:dbs_peak_values' %}">Zawyżone dane</a></li>
                    <li><a href="{% url 'DBscripts:dbs_statuses' %}">Braki i Prognozy</a></li>
                    <li><a href="{% url 'DBscripts:dbs_check_node' %}">Braki węzła</a></li>
                    <li><a href="{% url 'DBscripts:dbs_check_conf' %}">Braki zatwierdzeń</a></li>
                    <li><a href="{% url 'DBscripts:dbs_get_PPE' %}">Klienci w MB</a></li>
                    <li><a href="{% url 'DBscripts:dbs_check_MB_PPE' %}">Porównanie MB z PPE</a></li>
               </ul>
      </li>
      <li><a href ="{% url 'info_flow:if_post_list' %}">Forum<span>Najnowsze info</span></a></li>
      <li><a href="#">Kontakt<span>Daj mi znać</span></a></li>
        </ul>
        <br style="clear: left" />
    </div> <!-- END of menu -->


   
    <div id="templatemo_main">
      
    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    {% block javascript %}
    {% endblock javascript %}

    </div> <!-- END of main -->

    </div> <!-- END of wrapper -->

<div id="templatemo_footer_wrapper">
  <div id="templatemo_footer">

    
        <div class="col one_third">
          <h4>Status</h4>
            <ul class="twitter_post">
              <li>Strona w trakcie rozwoju.
              </ul>
        </div>
        
        <div class="col one_third no_margin_right">
          <h4>Autor</h4>
      <p>Tomasz W</p>
      <p>Starszy Specjalista ds. Usług Operatorskich</p>
      
      <div class="cleaner h20"></div>
            
            Copyright © 2020 <a href="#">TomSoft</a>
      
      <div class="cleaner"></div>
        </div>
    
        <div class="cleaner"></div>
    </div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->
</body>
</html>